body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 1000% 1000%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.wrap {
  position: absolute;
  top: 85px;
  left: 20px;
  right: 20px;
  width: 90%;
  height: 50vh;
}

#slider {
  position: absolute;
  transition: 1s;
  left: 0;
  right: 0;
}

.header {
  font-family: "Pacifico", cursive;
  text-align: center;
  position: relative;
}

.slide {
  position: relative;
  float: left;
  height: 75vh;
  width: 90vh;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.slide1 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/1451471/pexels-photo-1451471.jpeg");
}

.slide2 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/2612852/pexels-photo-2612852.jpeg");
}

.slide3 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/1236730/pexels-photo-1236730.jpeg");
}

.slide4 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/2156416/pexels-photo-2156416.jpeg");
}

.slide5 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/1078058/pexels-photo-1078058.jpeg");
}

.slide6 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/2082087/pexels-photo-2082087.jpeg");
}

.slide7 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/2555635/pexels-photo-2555635.jpeg");
}

.slide8 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/2611690/pexels-photo-2611690.jpeg");
}

.slide9 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/2622179/pexels-photo-2622179.jpeg");
}

.slide10 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/1904105/pexels-photo-1904105.jpeg");
}

.slide11 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/2387870/pexels-photo-2387870.jpeg");
}

.slide12 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/2549236/pexels-photo-2549236.jpeg");
}

.slide13 {
  opacity: 0.9;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/1813252/pexels-photo-1813252.jpeg");
}

.slide14 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/773471/pexels-photo-773471.jpeg");
}

.slide15 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/1786769/pexels-photo-1786769.jpeg");
}

.slide16 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/92871/pexels-photo-92871.jpeg");
}

.slide17 {
  opacity: 0.9;
  background-image: url("https://images.pexels.com/photos/592063/pexels-photo-592063.jpeg");
}

img {
  width: 10 0%;
  margin: 0 auto;
  display: inline-block;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  position: sticky;
}

.slide-content h1 {
  color: rgb(0, 0, 0);
  font-size: 3rem;
}

.arrow {
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

#arrow-left {
  border-width: 30px;
  border-color: transparent rgb(255, 253, 253) transparent transparent;
  left: 0;
  top: 250px;
  margin-left: 30px;
  z-index: 9;
}

#arrow-right {
  border-width: 30px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
  right: 0;
  top: 250px;
  margin-right: 30px;
}

#foot {
  text-align: center;
  position: absolute;
  top: 600px;
  right: 550px;
  font-size: 24px;
  font-family: "Pacifico", cursive;
}

@media only screen and (max-width: 640px) {
  #arrow-left {
    border-width: 25px;
    margin-left: 0px;
  }

  .header {
    font-size: 30px;
  }

  #arrow-right {
    border-width: 25px;
    margin-right: 0px;
  }

  .slide-content h1 {
    font-size: 2rem;
  }

  #foot {
    visibility: hidden;
  }
}